.site-header {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0px;
	right: 0px;
	height: auto;
	//border-bottom: 1px solid $color-light;
	.logo {
		padding: .75*$length-medium $length-small;
		color: $color-light;
		font-family: $font-heading;
		font-weight: $font-heading-weight;
		font-size: 20px;
		letter-spacing: 1px;
	}
	.genesis-nav-menu {
		margin: 0;
		float: right;
		li {
			float: left;
			clear: right;
			padding: $length-medium $length-small;
		}
		li a{

			display: block;
			cursor: pointer;

			color: $color-light;
			transition: color .3s ease-in-out;
			font-family: $font-heading;
			font-weight: $font-heading-weight;
			font-size: $font-size-navigation;
			letter-spacing: 1px;
			text-decoration: none;
		}
		// glitch effect
		li a.glitch {
			@include textGlitch("glitch", 8, $color-light, $color-dark, $color-variant-1, $color-variant-2, 67, 24);
		}


	}
}

.entry-header {
	padding-left: 12%;
	padding-right: 12%;

	padding-top: $length-large + $length-medium;
	padding-bottom: $length-medium;
	.entry-title {
		color: $color-light;
		text-align: center;
	}
}

.single-portfolio .entry-header {
	padding: 0;
}
