

.site-header {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	height: auto;
	transition: bottom 300ms ease-in-out;
	//border-bottom: 1px solid $color-light;
	&:before {
		content: " ";
		background-color: $color-light;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 100%;
		z-index: -1;
		transition: bottom 150ms ease-in-out;
	}
	> * {
		z-index: 100;
	}
	.logo {
		padding: (.75 * $length-medium) $length-small (.75 * $length-medium) 0;
		color: $color-light;
		font-family: $font-heading;
		font-weight: $font-heading-weight;
		font-size: 20px;
		letter-spacing: 1px;
		a {
			color: $color-dark;
			&:hover {

			}

		}
	}
	.genesis-nav-menu {
		margin: 0;
		float: right;
		li {
			float: left;
			clear: right;
			padding: $length-medium $length-small;
		}
		li a{

			display: block;
			cursor: pointer;

			color: $color-dark;
			transition: color .3s ease-in-out;
			font-family: $font-heading;
			font-weight: $font-heading-weight;
			font-size: $font-size-navigation;
			letter-spacing: 1px;
			text-decoration: none;
		}



	}
}

.scrolled .site-header:before {
	bottom: 0;
}

.entry-header {
	padding-top: $length-large + $length-medium;
	padding-bottom: $length-medium;
	.entry-title {
		color: $color-light;
		text-align: center;
	}
}

.single-portfolio .entry-header {
	padding: 0;
}
