.site-header {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 20px;
	right: 20px;
	height: auto;
	//border-bottom: 1px solid $color-light;
	.logo {
		padding: 20px 0;
		color: $color-light;
		font-family: $font-heading;
		font-weight: $font-heading-weight;
		font-size: 20px;
		letter-spacing: 1px;
	}
	.navigation {
		margin: 0;
		li {
			float: right;
			clear: left;
		}
		li a{

			display: block;
			cursor: pointer;
			padding: 25px 10px;
			color: $color-light;
			transition: color .3s ease-in-out;
			font-family: $font-heading;
			font-weight: $font-heading-weight;
			font-size: $font-size-navigation;
			letter-spacing: 1px;
			text-decoration: none;
			&:hover {
				color: $brand-primary;
			}
		}
		li:first-of-type a {
			padding-right: 0;
		}
	}
}
