

$color-dark: #171715;
$color-light: #fff;
$brand-primary: #6f8780;

$color-variant-1: #384440; // lightest teal
$color-variant-2: #172a26; // medium teal -.-
$color-variant-3: #181e1a; // dark teal

$length-tiny: 5px;
$length-small: 10px;
$length-medium: 20px;
$length-large: 40px;
$length-huge: 80px;
