/*
*
* McGriddle v.01
*
*/

.left {
	float: left;
}

.right {
	float: right;
}


@media only screen and (min-width : 1200px) {
	.container {
		width: 1024px;
		margin: 0 auto;
	}
}

@media only screen and (min-width : 1024px) and (max-width : 1199px) {
	.container {
		width: 960px;
		margin: 0 auto;
	}
}

@media only screen and (min-width : 960px) and (max-width : 1023px) {
	.container {
		width: 920px;
		margin: 0 auto;
	}
}

@media only screen and (min-width : 720px) and (max-width : 959px) {
	.container {
		width: 680px;
		margin: 0 auto;
	}
}

@media only screen and (min-width : 560px) and (max-width : 719px) {
	.container {
		width: 520px;
		margin: 0 auto;
	}
}

@media only screen and (min-width : 370px) and (max-width : 559px) {
	.container {
		width: 320px;
		margin: 0 auto;
	}
}

@media only screen and (max-width : 369px) {
	.container {
		width: 300px;
		margin: 0 auto;
	}
}

@media only screen and (max-width : 559px) {
	.one-eighth, .three-eighths, .five-eighths, .seven-eighths, .one-seventh,
	.two-sevenths, .three-sevenths, .four-sevenths, .five-sevenths, .six-sevenths,
	.one-sixth, .five-sixths, .one-fifth, .two-fifths, .three-fifths, .four-fifths,
	.one-fourth, .three-fourths, .one-third, .two-thirds, .one-half, .one {
		width: 100% !important;
	}
}


.one-eighth {
	width: 12.5%;
	float: left;
	padding: 20px;
}

.three-eighths {
	width: 37.5%;
	float: left;
	padding: 20px;
}

.five-eighths {
	width: 62.5%;
	float: left;
	padding: 20px;
}

.seven-eighths {
	width: 62.5%;
	float: left;
	padding: 20px;
}

.one-seventh {
	width: 14.28%;
	float: left;
	padding: 20px;
}

.two-sevenths {
	width: 28.57%;
	float: left;
	padding: 20px;
}

.three-sevenths {
	width: 42.85%;
	float: left;
	padding: 20px;
}

.four-sevenths {
	width: 57.1%;
	float: left;
	padding: 20px;
}

.five-sevenths {
	width: 71.4%;
	float: left;
	padding: 20px;
}

.six-sevenths {
	width: 85.7%;
	float: left;
	padding: 20px;
}

.one-sixth {
	width: 16.66%;
	float: left;
	padding: 20px;
}

.five-sixths {
	width: 83.33%;
	float: left;
	padding: 20px;
}

.one-fifth {
	width: 20%;
	float: left;
	padding: 20px;
}

.two-fifths {
	width: 40%;
	float: left;
	padding: 20px;
}

.three-fifths {
	width: 60%;
	float: left;
	padding: 20px;
}

.four-fifths {
	width: 80%;
	float: left;
	padding: 20px;
}

.one-fourth {
	width: 25%;
	float: left;
	padding: 20px;
}

.three-fourths {
	width: 50%;
	float: left;
	padding: 20px;
}

.one-third {
	width: 33.33%;
	float: left;
	padding: 20px;
}

.two-thirds {
	width: 66.66%;
	float: left;
	padding: 20px;
}

.one-half {
	width: 50%;
	float: left;
	padding: 20px;
}

.one {
	width: 100%;
	float: left;
	padding: 20px;
}


.clear {
	clear: both;
	float: none;
}
