
// h3 font size for equal vertical placement in sections next to sections with a header
.header-space {
	font-size: 2 * $font-size-base;
}

.about-details {
	padding-right: 0;
}
.about-resume {
	padding-left: 0;
}



.section-about {
	// space it out
	.resume-section {
		margin-bottom: $length-large;
	}
	.work-title {
		color: $color-light;
	}
	.work-timeline {
		color: $color-muted;
	}
}

.about-details {
	@include when-size-is('handheld') {
		.about-labels {
			float: left;
			width: 16.66%;
			text-align: left;
		}
		.about-values {
			float: left;
			width: 33.33%;
		}
	}
	@include when-size-is('phone') {
		.about-labels {
			float: left;
			width: 50%;
		}
		.about-values {
			float: left;
			width: 50%;
		}
	}
}
